.content-container{
    max-width: 490px;
    margin-left: auto;
    margin-right: auto;
    color: #c1d1e8;

    .card{
        background-color: #0E192B;
        padding: 2rem;
        margin-top: 3rem;

        h2{
            margin-top: 0px;
        }
    }
}